.breadcrumbs {
    padding: 24px;
}
.breadcrumbs {
    font-size: .9rem;
    padding: 6px 24px;
}
.breadcrumbs {
    font-size: .9rem;
}
.breadcrumbs li {
    display: inline-flex;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.breadcrumbs li .breadcrumb, .breadcrumbs li .breadcrumb-current-page {
    border: inherit;
    clip: inherit;
    height: inherit;
    margin: inherit;
    overflow: inherit;
    padding: inherit;
    position: inherit !important;
    width: inherit;
}
a:link, a:visited {
    color: #00458b;
    text-decoration: none;
}
.breadcrumbs a {
    display: flex;
    align-items: center;
}
a:link, a:visited {
    color: #00458b;
    text-decoration: none;
}
.breadcrumb-container {
    flex-basis: 70%;
}
.breadcrumbs ol {
    list-style: none;
    margin: 0;
    padding: 0;
}